/* 全体 */
body {
    background-color: #ffffff; /* 背景色  */
    text-align: center; /* 中央寄せ */
    font-size:30px;
    min-width: 900px; /* 最小幅 */
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header, nav {
    background-color: #EFF0F7; /* 背景色 */
    color: #000000; /* 文字色 */
    padding-top: 5px; /* 内側余白(上) */
    padding-bottom: 5px; /* 内側余白(下) */
    margin-bottom:50px;
}

h1{
    color:#ffffff;
}

.log{
    background-color: #45496a;
    color:#ffffff;
}

footer{
    background-color:rgb(192, 192, 192);
}
/* ヘッダー、ナビゲーション内リンク */
header a, nav a {
    color: #ffffff;
}
/* ヘッダー内見出し */
header h1 {
    font-size: 40pt;
    margin: 10px auto;
}

input{
    font-size:25px;
    width:400px;
}

textarea{
    font-size:25px;
    width:700px;
    height:300px;
}

select{
    font-size:20px;
}

/* 仕切り線 */
hr {
    border-top: 2px dashed #ffffff;
}
td{
 background-color:#ffffff;  
}
/* メイン */
main {
    background-color: #FFFFFF;
    min-height: 50px;
    padding: 20px;
}
/* 表線 */
table, th, td {
    border-collapse: collapse;
    border: 1px solid #7d8bae;
}
/* 表 */
table {
    margin: 5px auto;
    width: 1000px;
}
/* 表見出しセル */
table th {
    background: #99ccff;
    color: #ffffff;
}

table td{
    font-size:25px;
}

.link{
    width:200px;
    height:70px;
    background-color: rgb(255, 128, 0);
    color: #ffffff;
    font-size:40px;
    text-decoration: none;
}

.link:hover{
    background-color: rgb(252, 177, 3);
}
button{
    margin-top:50px;
    margin-bottom:50px;
    margin: 2px;
    padding: 5px 20px;
    background-color: rgb(23, 128, 232);
    color: #ffffff;
    border: none;
    width:150px;
    height:50px;
    cursor: pointer;
    box-shadow:#666666;
    font-size:20px;
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
/* 送信ボタン */
.button {
    margin-top:50px;
    margin-bottom:50px;
    margin: 2px;
    padding: 5px 20px;
    background-color: rgb(23, 128, 232);
    color: #ffffff;
    border: none;
    width:200px;
    height:50px;
    cursor: pointer;
    box-shadow:#666666;
    font-size:20px;
     box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
}
.container {
  width: 700px;
  height:500px;
  margin: 0 auto;
  padding: 20px;
    background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
    background-color: rgb(114, 175, 243);
     box-shadow    : none;  /* 影の設定 */
}
.button:hover{
     background-color: rgb(114, 175, 243);
     box-shadow    : none;  /* 影の設定 */
}

/* エラーメッセージ */
ul.error {
    color: red;
    list-style: none;
    padding-left: 0;
    
}

.side{
    background-color: #45496a;
    width:450px;
    min-height:1200px;
    color:#ffffff;
     position:fixed;
/*    margin-left:10px;*/
}

.content{
    width:1400px;
    min-height:1200px;
    text-align:center;
    margin-left:500px;
    background-color: #EFF0F7;
   
}

article{
    display:flex;
}

.side.table{
    width:100px;
}

.comment{
    width:100px;
    font-size:20px;
     background-color: rgb(158, 158, 158);
}


.inputcomment{
    font-size:20px;
}

.head{
     background-color:rgb(192, 192, 192);
    font-size:30px;
    border:1px;
    padding:10px;
    margin-bottom:120px;
    text-align:left;
     position:fixed;
     width:1400px;
   
}

.foot{
     background-color:rgb(192, 192, 192);
    font-size:30px;
    border:1px;
    padding:10px;
    margin-bottom:50px;
    text-align:right;
}

.comm{
    width:300px;
    font-size:20px;
}
.comment{ 
    width:300px;
    height:200px;
    background-color:#ffffff;
}

.left{
    text-align:left;
}