<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <article>
    <div class="side">
        <h1>みんなのレシピ</h1>
        <hr>
         <font color="red">[[${error}]]</font>
       
        <hr>
    </div>
    <div class="content">
    <div class="container" align="center";>
        <h2>ユーザー新規登録</h2>
        <form action="/user/add" method="post">
            ユーザー名　<input type="text" name="name" placeholder="名前"><br>
            <br>
            パスワード　<input type="text" name="password" placeholder="パスワード"><br>
            <br>
            <button>登録</button>
        </form>
    </div>
    </div>
    </article>
    
   
    
</body>
</html>