<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規レシピ作成</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <article>
    <div class="side">
        <h1>みんなのレシピ</h1>
        <hr>
         <font color="red">[[${error}]]</font>
        <hr>
    </div>
    <div class="content">
        <div class="head">
             ユーザー：
             <a href="/recipes/parsonal">[[${name}]]</a><br>
             <a href="/logout">ログアウト</a>
        </div>
    <h2>新規レシピ作成</h2>
   
   
     <form action="/recipes/add" method="post">
          <table border="1">
            <tr>
                  <th></th>
                  <th>すべて入力して下さい</th>
              </tr>
            <tr>
                <th>カテゴリー</th>
                <td>
                    <select size="1" name="categoryId">
                        <option value="1">和食</option>
                        <option value="2">洋食</option>
                        <option value="3">中華</option>
                        <option value="4">イタリアン</option>
                        <option value="5">ドリンク</option>
                        <option value="6">デザート、菓子</option>
                        <option value="7">その他</option>
                     </select>
                </td>
            </tr>
            <tr>
                <th>料理名</th>
                <td>
                    <input type="text" name="name" placeholder="20文字以内">
                </td>
            </tr>
            <tr>
                <th>材料</th>
                <td>
                    <textarea type="text" name="material" placeholder="200文字以内"></textarea>
                </td>
            </tr>
            <tr>
                <th>作り方</th>
                <td>
                    <textarea name="content" placeholder="500文字以内"></textarea>
                </td>
            </tr>
            <tr>
                <th>
                </th>
                <td>
                   <button>追加</button> 
                </td>
            </tr>
            </table>  
         </form>
         <a href="/recipes">戻る</a>
</article>
    
</body>
</html>