<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2>新規レシピ作成</h2>
    [[${error1}]]<br>
    [[${error2}]]<br>
    [[${error3}]]<br>
   
     <form action="/recipes/add" method="post">
          <table border="1">
            <tr>
                <th>カテゴリー</th>
                <td>
                    <select size="1" name="categoryId">
                        <option value="1">和食</option>
                        <option value="2">洋食</option>
                        <option value="3">中華</option>
                        <option value="4">イタリアン</option>
                        <option value="5">ドリンク</option>
                        <option value="6">デザート、菓子</option>
                        <option value="7">その他</option>
                     </select>
                </td>
            </tr>
            <tr>
                <th>料理名</th>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <th>材料</th>
                <td>
                    <input type="text" name="material">
                </td>
            </tr>
            <tr>
                <th>作り方</th>
                <td>
                    <textarea name="content"></textarea>
                </td>
            </tr>
            </table>
            <button>追加</button>
         </form>
</body>
</html>