<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ編集</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
     <article>
    <div class="side">
        <h1>みんなのレシピ</h1>
        <hr>
        <font color="red">[[${error}]]</font>
         [[${message}]]
       
        <hr>
    </div>
    <div class="content">
        <div class="head">
             ユーザー：
             <a href="/recipes/parsonal">[[${name}]]</a><br>
             <a href="/logout">ログアウト</a>
        </div>
         <br>
        <br>
        <br>
        <br>
        <br>
    <h2>レシピ編集</h2>
   
     <form th:action="@{/recipes/{id}/edit(id=${recipe.id})}" method="post">
          <table border="1">
              <tr>
                  <th></th>
                  <th>すべて入力して下さい</th>
              </tr>
            <tr>
                <th>カテゴリー</th>
                <td>                    
                    <select size="1" name="categoryId">
                         <option value="1" th:checked="${recipe.categoryId==1}">和食</option>
                         <option value="2" th:checked="${recipe.categoryId==2}">洋食</option>
                         <option value="3" th:checked="${recipe.categoryId==3}">中華</option>
                         <option value="4" th:checked="${recipe.categoryId==4}">イタリアン</option>
                         <option value="5" th:checked="${recipe.categoryId==5}">ドリンク</option>
                         <option value="6" th:checked="${recipe.categoryId==6}">デザート、菓子</option>
                         <option value="7" th:checked="${recipe.categoryId==7}">その他</option>
                      </select>
                </td>
            </tr>
            <tr>
                <th>料理名</th>
                <td>
                    <input type="text" name="name" th:value="${recipe.name}">
                </td>
            </tr>
            <tr>
                <th>材料</th>
                <td>
                    <textarea name="material">[[${recipe.material}]]</textarea>
                </td>
            </tr>
            <tr>
                <th>作り方</th>
                <td>
                    <textarea name="content">[[${recipe.contents}]]</textarea>
                </td>
            </tr>
            </table>
            <button>更新</button>
         </form>
         <a href="/recipes/parsonal">戻る</a>
</article>
    
</body>
</html>