<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<article>
    <div class="side">
        <h1>みんなのレシピ</h1>
        
        <hr>
         <font color="red">[[${error}]]</font>
         [[${message}]]
        <hr>
        
        <a href="/recipes/add" class="link">新規レシピ作成</a>
        <hr>
        カテゴリー検索
        <form action="/recipes" method="get">
        <select size="1" name="categoryId">
            <option value="">全レシピ</option>
            <option value="1">和食</option>
            <option value="2">洋食</option>
            <option value="3">中華</option>
            <option value="4">イタリアン</option>
            <option value="5">ドリンク</option>
            <option value="6">デザート、菓子</option>
            <option value="7">その他</option>
        </select>
        <button>検索</button>
        <hr>
        キーワード検索
    <form action="/recipes" method="get">
        <input type="text" name="keyword"  class="comm"placeholder="キーワード">
        <button>検索</button>
    </form>
     <hr>
     作成者検索
      <form action="/recipes" method="get">
        <input type="text" name="creater"  class="comm"placeholder="作成者名">
        <button>検索</button>
    </form>
      
      <hr>
       </div>
       
    <div class="content">
        <div class="head">
             ユーザー：
             <a href="/recipes/parsonal">[[${name}]]</a><br>
             <a href="/logout">ログアウト</a>
        </div>
    レシピ一覧
    <table border="1">
        <tr>
            <th>NO</th>
            <th>料理名</th>
            <th>作成者</th>
            <th>コメント</th>
        </tr>
        <tr th:each="recipe:${recipes}">
            <td th:text="${recipe.id}"></td>
            <td>
                <a th:href="@{/recipe/detail/{id}(id=${recipe.id})}" th:text="${recipe.name}"></a>
            </td>
            <td th:text="${recipe.userName}"></td>
            <td>
                <form th:action="@{/recipe/{id}/comment(id=${recipe.id})}" method="get">
                    <button href="/add">コメント</button>
                </form>
            </td>
        </tr>
    </table>
    </div>
</article>
</body>
</html>